.QuotesList {
  display: flex;
  flex-wrap: wrap;
}
.QuotesList ul {
  width: 20%;
}
.QuotesList li {
  font-size: 18px;
  margin: 10px;
}

.QuotesList a {
  color: black;
}

.QuotesList a:hover {
  color: orange;
}
