.Quote {
  width: 300px;
  border: 2px solid black;
  padding: 3%;
  margin: 10px 0 0 100px;
}

.btn {
  margin: 5px;
  background: #f1c86f;
  border: 1px solid #f1c86f;
  outline: none;
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
  vertical-align: center;
  text-decoration: none;
  font-size: 14px;
  color: black;
}
.btn:hover {
  background: rgb(221, 124, 44);
  cursor: pointer;
}
